<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ControlMeasurements</title>
</head>
<body>

    @RenderBody()
    <footer>
        <p>&copy; 2019 - ControlMeasurements</p>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>