@model ControlMeasurements.Models.Measurement
@{
    ViewData["Title"] = "Create";
}
<br />

<h5 style="margin-left:25px;">Create <br /> Measure</h5>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                @Html.DropDownList("PlaceType",
               new SelectList(Enum.GetValues(typeof(PlaceType))),
               new { @class = "form-control"})
                <br />
                @Html.DropDownList("MeasurementType",
                             new SelectList(Enum.GetValues(typeof(MeasurementType))),
                             new { @class = "form-control"})
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.Date, new { @class = "form-control", style = "width:185px;background:E1EBF9;", @readonly = "readonly" })
                </div>
                <br />
                <label asp-for="Value" class="control-label">Measurement</label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="MeasurementType" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                <button class="btn btn-success btn-sm" type="submit">Create</button>
            </div>
        </form>
    </div>
</div>
<div>
    <a class="btn btn-primary btn-sm" asp-action="Index" role="button" style="margin-left:25px;">Back to List</a>
</div>