@model ControlMeasurements.Models.MeasurementCategory

@{
    ViewData["Title"] = "Delete";

}
<h2>Delete</h2>
<form asp-action="Delete">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        @Html.DropDownList("PlaceType",
        new SelectList(Enum.GetValues(typeof(PlaceType))),
    "Select PlaceType",
   new { @class = "form-control"})
        <br />
        @Html.DropDownList("MeasurementType",
               new SelectList(Enum.GetValues(typeof(MeasurementType))),
               "Select MeasurementType",
                new { @class = "form-control"})
        <br />
        <label asp-for="Value" class="control-label">Measurement</label>
        <input asp-for="Value" class="form-control" />
        <span asp-validation-for="MeasurementType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-default" onclick="return confirm('Are you sure you want to delete this measurement?')"/>
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>