/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
        
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.container body-content {
    padding-left: 15px;
    padding-right: 15px;
    text-align:center;
}

.nav li a {
    color: white;
    text-align:center;
}

.card {
    float: left;
    margin: 5px;
    margin-top: 10px;
    text-align: center;
    display: inline-block;
    width: 350px;
}

.display-window {
    float: left;
    text-align: center;
    width: 220px;
}
.display-window-price{
    float:left;
    margin-top:10px;
    text-align:center;
    width:400px;
    
}

#navbarNav a {
    color: lightgray;
}


.card.border-info {
    width: 300px;
    float: left;
}

.card-title {
    color: black;
}
a
{
    color:white;
}
.card-body strong,small,p
{
    color: black;
}
.form-control{
    width:200px;
}
