body {
    padding-bottom: 20px;        
}




.nav li a {
    color: white;
    text-align:center;
}

.card {
    float: left;
    margin: 5px;
    margin-top: 10px;
    text-align: left;
    display: inline-block;
    width: 310px;
}
.row{
    margin-left:10px;
}
.display-window {
    float: left;
    text-align: center;
    width: 220px;
}
.display-window-price{
    float:left;
    margin-top:10px;
    text-align:center;
    width:400px;
    
}

#navbarNav a {
    color: lightgray;
}



.card-title strong {
    color: gray;
    font-size:18px;
}
a
{
    color:white;
}
.card-body p,strong 
{
    color: white;
}
.form-control{
    width:200px;
}
.footer p{
    text-align:center;
    color: white;
}
.headline{
    margin-left:10px;
    text-align:left;
}
.edit{
    margin-left:25px;
    margin-top:5px;
}
.delete{
    margin-left:25px;
    margin-top:5px; 
}