@model IEnumerable<ControlMeasurements.Models.Water>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>

</p>

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Place)

                @Html.DisplayNameFor(model => model.Measurement)

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                    @Html.DisplayFor(modelItem => item.Measurement)
                </td>
            </tr>
        }

    </tbody>
</table>